body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:500px;
}
.no-enter{
    width:200px;
    height:200px;
    border:15px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-enter::after{
    content:"";
    width: 20px;
    height: 200px;
    background:red;
    position: absolute;
    transform:rotate(45deg);
}
